<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style_contact.css">
    <title>Document</title>
</head>
<body>
    <p id="Contact">Contact Us </p>
    <br>
    <p id="Number">Phone Number : +91 9989897654</p>
    <p id="Email">EMail : readingroom@gmail.com</p>
    <p id="Address">Address : New Market, Bhilai Chhattisgarh</p>
</body>
</html>