<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style_main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300&family=Source+Serif+Pro:wght@400;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Pacifico&family=Patrick+Hand&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <ol id="nav">
        <li><a href="{{url_for('login_page')}}">My Collection</a></li>
        <li><a href="{{url_for('take_books')}}">Books</a></li>
        <li><a href="{{url_for('signup_page')}}">Sign Up</a></li>
        <li><a href="{{url_for('contact_page')}}">Contact Us</a></li>
    </ol>
    <p id="library">READING ROOM</p>
    <p id="para">Your Library...</p>
</body>
</html>